{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Notes</title>
</head>
<body>
<div class="container">
    <h1>Записи</h1>
    <p><a href="/notes/add/">Добавить запись</a></p>
    {% for note in notes %}
        <h3>{{ note.pk }}. {{ note.title }}</h3>
        <p>Статус: ({{ note.status }})</p>
        <p>{{ note.created_at }}</p>
        <div>{{ note.text }}</div>
    {% endfor %}
    <p><a href="/notes/add/">Добавить запись</a></p>

</div>
</body>
</html>