{% extends 'base.html' %}

{% block title %}Create note{% endblock %}

{% block content %}
    <h1>Create Note</h1>

    {% url "note_create_create" as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method='post' %}

{#    <form action="{% url "note_create" %}" method="post">#}
{#        {% csrf_token %}#}



{#        <label>Title:</label><br/>#}
{#        <input type="text" name="title"/><br/>#}
{##}
{#        <label>Description:</label><br/>#}
{#        <textarea name="description"></textarea><br/>#}
{##}
{#        <label>Text:</label><br/>#}
{#        <textarea name="text"></textarea><br/>#}
{##}
{#        <label for="id-status">Status:</label><br/>#}
{#        <select name="status" id="id-status">#}
{#            {% for value, label in status_choices %}#}
{#                <option value="{{ value }}">{{ label }}</option>#}
{#            {% endfor %}#}
{#        </select><br/>#}
{##}
{#        <br/>#}
{#        <input type="submit" value="Send"/>#}
{#    </form>#}
{% endblock %}
